<div class="header-image">
  <div class="image-overlay">
  </div>

  <div class="bg-image" style="background-image: url('{{plan.image}}')">
  </div>
</div>

<div class="container mt-5">
  <div class="card-detail">
    <div class="row" id="card-detail-container">
      <div class="card-detail-image col-8" style="background-image: url('{{plan.image}}')" alt="image">
        {{#if currentUser}}
        <div class="like-button-div">
          <form action="/plans/{{plan.id}}/likes" method="post">
            <button class="btn-unstylled" type="submit"><i
                class="fa fa-heart {{userLikes currentUser plan}}  "></i></button>
          </form>
        </div>
        {{/if}}
      </div>
      <div class="card-detail-info col-4">
        <div class="mt-3">
          <small class="card-detail-date">{{#formatDate plan.date}} {{/formatDate}}</small>
          <h1 class="mt-4">{{plan.title}}</h1>
        </div>
        <p class="m-0">{{plan.price}}€</p>
      </div>
    </div>

    <div class="row mt-5" id="card-detail-container-text">
      <div class="card-text-info col-8">
        <p>{{plan.description}}</p>
      </div>
      <div class="col-4">
        <h4 class="mt-0">Fecha y hora</h4>
        <p class="mb-0"><i class="fa fa-calendar fa-fw me-1"></i>{{#formatFullDate plan.date}} {{/formatFullDate}}</p>
        <p class="mb-0"><i class="fa fa-clock-o fa-fw me-1"></i>{{plan.time}}</p>
        <h4 class="mt-3">Ubicación</h4>
        <p class="mb-0"><i class="fa fa-map fa-fw me-1"></i>{{plan.location}}</p>
      </div>
      {{#if currentUser}}
      <div class="pay-btn">
        <form action="/plans/{{plan.id}}/pays" method="post">
          <button class="btn btn-primary" type="submit"><i
              class="fa fa-point {{userPays currentUser plan}}  "></i>RESERVAR</button>
        </form>
      </div>
      {{/if}}
      {{#if currentUser.admin}}
      <form action="/plans/{{plan.id}}/delete" method="POST">
        <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
      </form>
      {{/if}}
    </div>

  </div>

</div>