<div class="header-image">
  <div class="image-overlay">
  </div>

  <div class="bg-image" style="background-image: url('{{plan.image}}')">
  </div>
</div>

<div class="container mt-5">
  <div class="card-detail">
    <div class="row" id="card-detail-container">
      <div class="card-detail-image col-8" style="background-image: url('{{plan.image}}')" alt="image">
        <div class="card-detail-like-btn">
          <i class="fa fa-heart"></i>
        </div>
      </div>
      <div class="card-detail-info col-4">
        <div class="mt-3">
          <small class="card-detail-date">{{#formatDate plan.date}} {{/formatDate}}</small>
          <h1 class="mt-4">{{plan.title}}</h1>
        </div>
        <p class="m-0">{{plan.price}}€</p>
      </div>
    </div>

    <div class="row mt-5" id="card-detail-container-text">
      <div class="card-text-info col-8">
        <p>{{plan.description}}</p>
      </div>
      <div class="col-4">
        <h4 class="mt-0">Fecha y hora</h4>
        <p class="mb-0"><i class="fa fa-calendar fa-fw me-1"></i>{{#formatFullDate plan.date}} {{/formatFullDate}}</p>
        <p class="mb-0"><i class="fa fa-clock-o fa-fw me-1"></i>{{plan.time.hours}}:{{plan.time.minutes}}</p>
        <h4 class="mt-3">Ubicación</h4>
        <p class="mb-0"><i class="fa fa-map fa-fw me-1"></i>{{plan.location}}</p>
      </div>
    </div>
  </div>

</div>