<div class="hero d-flex">
    <div class="text-center">
        <h1> Disfruta de <span style="color: yellow "> tu tiempo </span></h1>
        <br>
        <br>
        <p>M치s de 2000 planes te est치n esperando</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <section class="section-home">
            <h1 class="mt-5 mb-5 font-weight-bold">Que tipo de plan estas buscando {{currentUser.name}}?</h1>
            <p>Busca el tipo de plan que mas se ajusta a tus necesidades utilizando las categorias disponibles</p>
            <h1 class="mt-5 mb-5 font-weight-bold">Todas las categorias</h1>


            <div class="row">
                <div class=" group-categories">
                    <div class="categories-plans">
                        <div class="categories-box">Forest</div>
                        <div class="categories-box" >Brunch</div>
                        <div class="categories-box" >City</div>
                        <div class="categories-box" >Cinema</div>
                    </div>
                </div>
            </div>



    </div>
    </section>
</div>

</div>


<div class="container mt-5 ">
    <h1 class="mt-5 mb-5 font-weight-bold"> Descubre todo lo que puedes hacer </h1>
    <div class="row">
        {{#each plans as |plan|}}
        <div class="custom-card col-xl-3 col-md-4 col-sm-6 col-xs-12  mb-4">
            <div class="shadow-custom-card">
                <div style="background-image: url('{{plan.image}}')" class="custom-card-img-top" alt="...">
                    {{#if ../currentUser}}
                    <div class="like-button-div">
                        <form action="/plans/{{plan.id}}/likes" method="post">
                            <button class="btn-unstylled" type="submit"><i
                                    class="fa fa-heart {{userLikes ../currentUser plan}}  "></i></button>
                        </form>
                    </div>
                    {{/if}}
                </div>
                <div class="card-body custom-card-body">
                    <h5 class="card-title">{{ plan.title }}</h5>
                    <p class="card-text">peque침a descripcion del plan</p>
                    <a href="/plans/{{ plan.id }}" class="btn btn-primary">Ver m치s</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>